@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Recipe Center!</h1>
    <p>The best place for beginner cooks</p>
    <img src="~/images/collage.jpeg" alt="Dish" class="mainimg">
</div>